h1 {
  text-align: center;
  text-decoration: indigo underline;
  letter-spacing: 2px;
}

h2:hover {
  color: #219ebc;
}

p::selection {
  color: #415a77;
}

main {
  font-size: 25px;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 0.8em;
}

button {
  font-size: 1em;
  padding: 0 1em;
  border-radius: 0.8em;
}
